<!DOCTYPE html>
<html>
<title>ESP Console</title>
<style>
.container{
margin: 0;
padding: 20vh;
}
input{
font-size: 20px;
font-family: Times New Roman;
font-style: bold;
font-weight: bold;
}
input[type=text]{
width: 100%;
height: 300px;
background-color: black;
color: green;
border-style: solid;
border-color: grey;
border-width: 10px;
border-radius: 4px;
}
input[type=submit]{
width: 100px;
height: 50px;
box-shadow: 5px 5px 5px grey;
border-style: none;
}
input[type=submit]:hover{
width: 95px;
height: 47px;
box-shadow: 5px 5px 5px grey;
}
</style>
<body>
<div class="container">
<form>
<input style="" type="text" id="console" name="console"><br><br>
<input type="submit" value="run">
</form>
<br>
<form>
<input  style="float: right; margin: 10px; margin-top: 0;" type="submit">&emsp; &emsp;<input style="float: right;  margin-top: 12px;" type="color" id="color" name="color" value="#ff0000">
</form>
</div>
</body>
<footer>
Made with &#128150; by Rahul!
</footer>
</html>
